@import './_color';

.nav-mobile{
    display:none;
}

@media all  and (max-width: 426px){
    .nav{
        display: none;
    }
    .invoice{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        
        &__pdf{
            display: none;
        }

        &__name{
            grid-column-start: 1;
            grid-column-end: 7;
            border-bottom-style: solid;
            border-color: $lightBlack;
        }
        &__issueDate{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__issueBy{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__cost{
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &__status{
            &--check{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &--clock{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &--x{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &--approved{
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &--pending{
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &--declined{
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
        &__dots{
            grid-column-start: 5;
            grid-column-end: 6;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }

    .header-main__item{
        display: block;
        text-align: center;

        h3{
            display: none;
        }

        .item__input{
            margin: 10px 0;
            padding: 0 28px;
        }

        .item__primButton{
            margin: 10px 0;
        }
    }

    .sort{
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;

        &__item--right{
            padding-left: 0 !important;
            margin: 0 10px;
        }

        &__div2{
            margin-bottom: 10px;
        }
    }
    .nav-mobile{
        display: grid;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(4, 1fr);
        justify-items:center;
        align-items:center;
        margin: 5px auto;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        a{
            text-decoration: none;
            color: $lightBlack;
            font-weight: 700;
        }

        .element{
            &--logo{
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;

                img{
                    height: 50px;
                }
            }
            &--requests{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                padding: 0 5px;
                color: $mainColor !important;
            }

            &--collaborators{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                padding: 0 5px;
            }

            &--bell{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &--admin{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    }

    .modal{
        left: 0;
        width: 100%;
        border-radius: 7px;

        .modalContent{
            
            &__information{
                text-align: center;
            }
            &__row{

                &--button{
                    text-align: center;
                }

                &--upload{
                    text-align: center;
                    input{
                        width: 25%;
                        padding: 0 0 0 5px;
                        margin-left: 10px; 
                    }
                }
                
                &--price{
                    text-align: center;

                    input{
                        width: 50%;
                    }
                }

                &--comment{
                    text-align: center;

                    input{
                        width: 75%;
                    }
                }
                &--date{
                    justify-items: center;
                    align-items: center;
                    input{
                        width: 75%;
                    }
                }
            }
            .button--invoice{
                margin: 10px;
                float: none;
            }
        }
    }
}