$mainColor : rgb(0, 180, 180);
$fadedBlack: rgba(0, 0, 0, 0.500);

.content{
    width: 95%;
    margin: 0 auto;

    a{
        color: $fadedBlack;
        cursor: pointer;
        text-decoration: none;
    }

    &--active{
        color: black !important;
    }
    
    &--underline{
        border-bottom: solid 3px $mainColor;
    }

    .sort{
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid rgba(0, 0, 0, 0.2);
        padding: 5px;

        &__item{
            padding: 5px 18px;
        }

        &__item--right{
            padding-left: 36px;
        }
        &__item--faded{
            color: $fadedBlack;
        }
    }
}