@import './_color';

.content{
    width: 95%;
    margin: 0 auto;

    a{
        color: $lightBlack;
        cursor: pointer;
        text-decoration: none;
    }

    &--active{
        color: black !important;
    }
    
    &--underline{
        border-bottom: solid 3px $mainColor;
    }

    .sort{
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid rgba(0, 0, 0, 0.2);
        padding: 5px;
        margin: 15px 0px;

        &__item{
            padding: 5px 18px;
        }

        &__item--right{
            padding-left: 36px;
        }
        &__item--faded{
            color: $lightBlack;
        }
    }
}
.sort__item__dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
  }

  /* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.sort__item__dropdown:hover .dropdown-content {display: block;}
