@import './color';

.overlay{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.modal{
    position: fixed;
    right: 0;
    top: 50px;
    bottom: 50px;
    z-index: 1000;
    background-color: white;
    width: 25%;
    border-radius: 7px 0px 0px 7px;
}

.modalContent{
    display: grid;
    padding: 15px 25px;

    h3 {
        margin: 20px 0px;
        font-size: 21px;
        color:black;

    }

    hr{
        color: $lightBlack;
    }

    &__information{
        color: $lightBlack;
        margin: 10px 0px;
        font-size: 14px;
    }

    &__date{
        color: $lightBlack;
        font-size: 12px;
        text-align: right;
    }

    &__row{
        &--details{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px 0;
        }

        &--file{
            margin: 10px 0px;
            display: grid;
            grid-template-columns: 30px 1fr 1fr;
        }
        &--buttons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 14px;
        }
        &--date{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin-bottom: 10px;

            span{
                color: $lightBlack;
                font-weight: bold;
            }

            input{
                border: 1px solid $lightBlack;
                border-radius: 5px;
                height: 40px;
                padding: 0 0 0 10px;
            }
        }

        &--comment{
            span{
                color: $lightBlack;
                font-weight: bold;    
            }

            input{
                padding: 5px 0 60px 5px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid $lightBlack;
                margin: 10px 0 0 0;
            }
        }

        &--price{
            margin: 10px 0;

            span{
                color: $lightBlack;
                font-weight: bold;
            }

            input{
                width: 100%;
                border-radius: 5px;
                border: 1px solid $lightBlack;
                height: 40px;
                padding-left: 5px;
                margin: 10px 0 0 0;
            }
        }

        &--upload{
            margin: 10px 0;
            span{
                color: $lightBlack;
                font-weight: bold;
            }
            input{
                width: 100%;
                border-radius: 5px;
                border: 1px dotted $lightBlack;
                margin-top: 10px;
                padding: 0 0 40px 0;
            }
        }
    }

    &__comment{
        margin: 10px 0;
    }
}

.details{
    &--faded{
        color: $lightBlack;
        font-size: 12px;
    }
    &--cost{
        color: $mainColor;
        font-weight: bold;
    }
    &--justify{
        text-align: justify;
    }
}

.file{
    &__item{
        &--right{
            justify-self: end;
            align-self: center;
        }
        &--left{
            align-self: center;
        }
    }
    
    &--faded{
        color: $lightBlack;
    }
}

.button{
    margin: 10px 0px;

    &--decline{
        border: solid 2px rgba(red, 0.7);
        background-color: white;
        color: red;
        padding: 12px 50px;
        font-size: 15px;
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
    }

    &--approve{
        border: solid 2px rgba($approveButton, 0.7);
        background-color: white;
        color: $approveButton;
        padding: 12px 50px;
        font-size: 15px;
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
    }

    &--invoice{
        height: 40px;
        background-color: $lightBlack;
        color: white;
        border-radius: 6px;
        width: 50%;
        float: right;
    }
}

.exit{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}